<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<div th:if="${param.error}">
    Pseudo ou mot de passe invalide
</div>
<div th:if="${param.logout}">
    Vous avez été déconnecté
</div>
<form th:action="@{/login}" method="post">
    <div><label>Pseudo <input type="text" name="username"/> </label></div>
    <div><label>Mot de passe <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Connexion"/></div>
</form>
<form><div th:switch="${users}">
    <h2 th:case="null">No users yet!</h2>
        <div th:case="*">
            <h2>Users</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.email}"></td>
                    <td><a th:href="@{/edit/{id}(id=${user.id})}">Edit</a></td>
                    <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>      
    <p><a href="/signup">Add a new user</a></p>
</div></form>
</body>
</html>